@import './partials/fonts';
@import './vendors/bs-x5/bootstrap';
@import './partials/base';



.pre_loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $universal-color-2;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease;

    .pre_loader_svg {
        width: clamp(60px, 4vw, 100px);
        height: clamp(60px, 4vw, 100px);
        animation: pulse 1.5s infinite ease-in-out;
    }

}



@keyframes pulse {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
        opacity: 0.7;
    }
}

.site-wrapper {
    opacity: 0;
    transition: opacity 0.5s ease;
    overflow: hidden;
    height: 100vh;
}

.main-navbar {
    background-color: $universal-color-2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    z-index: 99;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;


}

.nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-collapse {
        ul {
            .nav_links {
                .nav_hover_element {
                    position: relative;
                    overflow: hidden;
                    display: inline-block;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: $theme-color-1;
                        transform: translateX(-100%);
                        transition: all ease-in-out .5s;
                        pointer-events: none;
                        opacity: 0;
                    }
                }



                .dropdown {
                    overflow: visible !important;

                   button{
                    gap: .5rem;
                    i{
                        font-size: .8rem;
                    }

                   }
                    

                    .dropdown-menu {
                        display: none;
                        padding: 2rem 1rem;
                        width: 18rem;
                        transition: all ease-in-out 3s;
                        border: none;
                        border-radius: 20px;
                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                        li{
                            a{
                                font-size: .9rem;
                                font-weight: 500;
                                &:hover{
                                    color: $theme-color-1;
                                    background-color: transparent;
                                }
                            }
                            &:not(:last-child){
                                padding-bottom: 1.5rem;
                            }
                        }

                       
                    }

                    &:hover {
                        .dropdown-menu {
                            display: block;
                            margin-left: 0.125em;


                        }
                    }
                }

                &:not(:last-child) {
                    padding-right: .5rem;
                }

                a {
                    color: $universal-color-1;
                }

                &:hover {
                    .nav_hover_element {
                        &::after {
                            opacity: 1;
                            transform: translateX(0);
                        }
                    }

                }
            }
        }

    }


}

.right-links {
    display: flex;

    li {
        &:not(:last-child) {
            padding-right: 1rem;
        }
    }

    a {
        color: $universal-color-1;
        display: flex;
        align-items: center;

        i {
            font-size: 1.2rem;
        }

    }

}



.ham_btn {
    font-size: 1.8rem;
    color: $theme-color-1;
}

.back-to-top {
    background-color: $universal-color-2;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 2rem;
    margin-bottom: 2rem;
    opacity: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 1000;

    i {
        color: $theme-color-1;
        font-size: 1.2rem;
    }
}


.main_hero_section {
    padding-top: 5rem;
    padding-bottom: $section-space-md;
}




.main_hero_section_wrapper {
    min-height: 90vh;
    padding: 5rem 0;
    position: relative;
    flex-direction: column;
    // background: url('../images/main_hero_section_img.jpg');
    // background-attachment: fixed;
    // background-position: center;


    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;

    }


    figcaption {
        z-index: 3;
        color: $universal-color-2;

        h1 {
            text-align: center;
            font-weight: 600;
            font-size: clamp(3rem, 4vw, 6rem);

            span {
                font-size: 35%;
                font-weight: 300;

                p {
                    line-height: 2.5rem;
                }

            }

        }

    }

    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $universal-color-1;
        opacity: .5;
        z-index: 2;
    }
}


.main_hero_tabs {
    padding-top: $section-space-md;

    .nav-pills {
        gap: 2rem;

        .active {
            border-color: $theme-color-1;
            background-color: $theme-color-1;
            color: $universal-color-2 !important;
        }
    }
}

.tab-content_inner {
    background-color: $universal-color-2;
    border-radius: 60px;
    padding: 1rem 2rem;

    label {
        color: $universal-color-1;
        padding-bottom: .5rem;
    }

    li.after_content {
        position: relative;

        &:not(:last-child) {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 100%;
                transform: translateX(100%);
                width: 1px;
                height: 100%;
                background-color: $border-color;
            }
        }
    }

    .form-element {
        border: 0;
        outline: none;


    }


}

.featured_properties {
    padding-bottom: $section-space-md;
}

.featured-properties-tabs {
    margin-bottom: 3rem;

    .nav-pills {
        gap: 1rem;


        .active {
            border-color: $theme-color-1;
            background-color: $theme-color-1;
            color: $universal-color-2 !important;
        }
    }
}


.explore-cities {
    padding-bottom: $section-space-md;
}


.explore-cities-swiper {
    .swiper-slide {
        .card-main-link {
            color: $universal-color-1;
        }

        figure {
            position: relative;
            width: 100%;
            aspect-ratio: 1/1.3;
            border-radius: 20px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:hover {
                .card-link {
                    background-color: $theme-color-1;
                    border: 1px solid $theme-color-1;

                    i {
                        color: $universal-color-2;
                    }

                }
            }
        }
    }
}




.card-description {

    h4 {
        font-size: clamp(1rem, 1vw, 2rem);
        text-transform: capitalize;
    }

    .card-link {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border: 1px solid $border-color;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all ease-in-out .3s;

        i {
            color: $universal-color-1;
            font-weight: 500;
        }
    }
}

.bullets {
    padding-top: $section-space-sm;
}

.swiper-custom-bullets {
    padding-top: 1rem !important;
}

.swiper-pagination-bullet {
    width: .6rem;
    height: .6rem;



}

.swiper-pagination-bullet-active {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 1rem;
        height: 1rem;
        border: 1px solid $theme-color-1;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


    }
}







.our_services {
    padding-bottom: $section-space-md;

    .col-inner {
        height: 100%;
        padding-bottom: 2rem;

        .service_card {
            border: 1px solid $border-color;
            border-radius: 25px;
            padding: 2rem 1rem;
            flex-direction: column;
            gap: 2rem;
            height: 100%;

            transition: all ease-in-out .5s;

            &:hover {
                border: 1px solid $universal-color-2;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                figure {
                    img {
                        transform: rotateY(360deg);
                    }
                }

                a {
                    padding: .75rem 2.5rem;
                    background-color: $theme-color-1;
                    color: $universal-color-2 !important;
                }
            }
        }

        .card_body {
            flex-direction: column;
            gap: 2rem;
        }

        figure {

            
            img {
                transition: all ease-in-out .5s;
                object-fit: cover;
            }
        }

        h4 {
            text-transform: capitalize;
        }

        p {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-transform: ellipsis;

        }

        a {
            background-color: transparent;
            color: $universal-color-1 !important;
            border: 1px solid $theme-color-1;
        }


    }
}





section.our_benefit {
    padding-bottom: $section-space-md;
}

.our_benefit_inner {
    background-color: $theme-color-2;
    border-radius: 25px;

    .col-inner {
        height: 100%;
    }

    figure {
        height: 100%;
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 25px 0 0 25px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .our_benefit_content {
        padding: 5rem 0;
    }

    .section-title {
        align-items: flex-start;
    }
}

.benefits {
    gap: 2rem;
    padding: 2rem;
    background-color: $universal-color-2;
    border-radius: 20px;
    transition: all ease-in-out .3s;
    cursor: pointer;

    .benefits_icon {
        font-size: clamp(2rem, 4vw, 3.5rem);
        color: $theme-color-1;
        transition: all ease-in-out .4s;
    }

    h4 {
        text-transform: capitalize;
    }

    &:not(:last-child) {
        margin-bottom: 2rem;
    }

    &:hover {
        scale: 1.03;

        .benefits_icon {
            transform: rotateY(360deg);
        }
    }
}


section.top_properties {
    padding-bottom: $section-space-md;
}


section.our_teams {
    padding-bottom: $section-space-sm;

    .team_card {
        cursor: pointer;
        margin-bottom: 3rem;

        figure {
            position: relative;
            width: 100%;
            aspect-ratio: 1/1.1;
            border-radius: 20px;
            overflow: hidden;
            display: flex;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all ease-in-out .5s;
                z-index: 1;
            }

            .social_media_links {
                position: absolute;
                bottom: 0;
                z-index: 2;
                width: 80%;
                background-color: rgba(0, 0, 0, 0.2);
                backdrop-filter: blur(4px);
                padding: .8rem;
                border-radius: 10px;
                transform: translateY(100%);
                transition: all ease-in-out .5s;

                li {
                    position: relative;

                    &:not(:last-child) {
                        &::after {
                            position: absolute;
                            content: '';
                            height: 100%;
                            width: 1px;
                            background-color: $universal-color-2;
                            top: 0;
                            left: 100%;
                            transform: translateX(-50%);
                            margin-left: 1.5rem;
                            z-index: 20;
                        }
                    }
                }

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        i {
                            color: $theme-color-1;
                        }
                    }

                }

                i {
                    font-size: 1.3rem;
                    color: $universal-color-2;
                }
            }
        }

        .contact-links {
            gap: .5rem;
        }

        a.card-link {
            i {
                color: #adadad;
            }

        }

        &:hover {
            img {
                scale: 1.02;
            }

            .social_media_links {
                margin-bottom: 2rem;
                transform: translateY(0);
            }


            a.card-link {
                background-color: $theme-color-1;
                border: 1px solid $theme-color-1;

                i {
                    color: $universal-color-2;
                }

            }

        }
    }
}


section.trusted_companies {
    padding-bottom: $section-space-md;

    .title {
        text-transform: capitalize;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        cursor: pointer;

        .trusted_company_logo {
            fill: #adadad;
            width: 40%;
        }

        &:hover {
            .trusted_company_logo {
                fill: $theme-color-1;
            }
        }
    }
}

// Our Blog

section.our_blogs{
    padding-bottom: $section-space-md;

    .swiper-custom-bullets{
            padding-top: 2rem !important;
    }
}

//footer

.footer-wrapper {
    background-color: #161e2d;

    .footer-top {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: #e2e2e2;
            opacity: .1;
        }

        .col-inner {
            height: 100%;
            display: flex;
            align-items: center;

            .footer-social-media {
                width: 100%;
            }
        }
    }

    a.card-link {
        background-color: rgba(255, 255, 255, 0.1);

        &:hover {
            background-color: $theme-color-1;
        }
    }

}

.footer-center {
    color: $universal-color-2;

    .footer_heading {
        font-weight: 500;
    }

    .footer_links {
        li {
            overflow: hidden;
        }

        a {
            position: relative;
            transition: all ease-in-out .3s;


            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $theme-color-1;
                transform: translateX(-100%);
                transition: all ease-in-out .3s;
            }

            &:hover {
                color: $theme-color-1;

                &::after {
                    transform: translateX(0);
                }
            }
        }
    }

    .footer-center-inner {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: #e2e2e2;
            opacity: .1;
        }

        ul {
            li {
                &:not(:last-child) {
                    margin-bottom: .5rem;
                }
            }
        }
    }

    .footer_first_col {
        ul {
            li {
                a {
                    color: $universal-color-2;
                    gap: .5rem;

                    i {
                        color: rgb(163, 171, 176);
                    }
                }
            }
        }
    }

}

.subscribe-letter {
    position: relative;
    margin-top: 1rem;

    .newsletter_submit {
        position: absolute;
        top: 50%;
        right: 0;
        padding: .7rem 1rem;
        transform: translateY(-50%);
        font-size: 1.2rem;
        z-index: 200;
        color: $theme-color-1;
    }

    input {
        width: 100%;
        border-radius: 50px;
        padding: .7rem 3rem .7rem 1rem;
        background-color: #ffffff1a;
        outline: none;
        border: none;
        color: #a3abb0;
        font-size: .9rem;

        &::placeholder {
            color: #a3abb0;
            font-size: .9rem;
        }



    }
}

.footer-bottom {
    ul {
        li {
            a {
                transition: all ease-in-out .3s;

                &:hover {
                    color: $theme-color-1;
                }
            }

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}




@import './partials/mediaqueries';