@import './partials/fonts';
@import './vendors/bs-x5/bootstrap';
@import './partials/base';


#pre_loader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    fill: red;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.main-navbar{
    background-color: $universal-color-2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    z-index: 99;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;


}

.nav-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-collapse{
        ul{
            .nav_links{
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $theme-color-1;
                    opacity: 0;
                    transition: all ease-in-out .5s;
                }

                .dropdown{
                    .dropdown-toggle{
                        &:active{
                            pointer-events: none;
                        }
                    }
                    &:hover{
                        .dropdown-menu{
                            display: block;
                        }
                    }
                    
                }
                
                &:not(:last-child){
                    padding-right: .5rem;
                }
                a{
                    color: $universal-color-1;
                }
              
                &:hover{
                    &::after{
                        opacity: 1;
                    }
                }
            }
        }

    }

    
}

.right-links{
    display: flex;
    li{
        &:not(:last-child){
            padding-right: 1rem;
        }
    }
    a{
        color: black;
        display: flex;
        align-items: center;
        i{
            font-size: 1.2rem;
        }
        span{
            margin-left: .5rem;
        }
    }

}



.ham_btn{
    font-size: 1.7rem;
    color: $theme-color-1;
}

.main_hero_section{
    padding-top: 5rem;
    padding-bottom: $section-space-md;
}



.back-to-top{
    background-color: $universal-color-2; 
    width: 3rem; 
    height: 3rem; 
    border-radius: 50%;
    position: fixed; 
    bottom: 0; 
    right: 0; 
    margin-right: 2rem;
    margin-bottom: 2rem;
    opacity: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 1000;
    i{
        color: $theme-color-1;
        font-size: 1.3rem;
    }
}


.main_hero_section_wrapper{
    min-height: 90vh;
    padding: 5rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background: url('../images/main_hero_section_img.jpg');
    // background-attachment: fixed;
    // background-position: center;


    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;

    }


    figcaption{
        z-index: 3;
        color: $universal-color-2;

        h1{
            text-align: center;
            font-weight: 600;
            font-size: clamp(3rem, 4vw, 6rem);

            span{
                font-size: 30%;
                font-weight: 300;

            }

        }

    }
    
    &::after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $universal-color-1;
        opacity: .3;
        z-index: 2;
    }
}


.main_hero_tabs{
    padding-top: $section-space-md;
    .nav-pills{
        .active{
            border-color: $theme-color-1;
            background-color: $theme-color-1;
            color: $universal-color-2!important;
        }
    }
}

.tab-content_inner{
    background-color: $universal-color-2;
    border-radius: 60px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    label{
        color: $universal-color-1;
        padding-bottom: .5rem;
    }
   
    li.after_content{
        position: relative;
        &:not(:last-child){
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 100%;
                transform: translateX(100%);
                width: 1px;
                height: 100%;
                background-color: $border-color;
            }
        }
    }
    .form-element{
        border: 0;
        outline: none;

       
    }

   
}
.featured_properties{
    padding-bottom: $section-space-md;
}

.featured-properties-tabs{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    .nav-pills{
        gap: 1rem;
        .active{
            border-color: $theme-color-1;
            background-color: $theme-color-1;
            color: $universal-color-2!important;
        }
    }
}


.explore-cities{
    padding-bottom: $section-space-md;
}


.explore-cities-swiper{
    .swiper-slide{
        .card-main-link{
            color: $universal-color-1;
        }
        figure{
            position: relative;
            width: 100%;
            aspect-ratio: 1/1.3;
            border-radius: 20px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:hover{
                .card-link{
                    background-color: $theme-color-1;
                    border: 1px solid $theme-color-1;

                    i{
                        color: $universal-color-2;
                    }

                }
            }
        }
    }
}







.card-description{
    bottom: 3%;
    left: 50%;
    width: 95%;
    transform: translateX(-50%);
    padding: 1rem;
    border-radius: 15px;
    background-color: $universal-color-2;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;



    h4{
        font-size: clamp(1rem, 1vw, 2rem);
    }

    .card-link{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 1px solid $border-color;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all ease-in-out .3s;
        i{
            color: $universal-color-1;
            font-weight: 500;
        }
    }
}

.bullets{
    padding-top: $section-space-sm;
}

.swiper-pagination-bullet {
    width: .6rem;
    height: .6rem;



}
.swiper-pagination-bullet-active{
    position: relative; 
    
&::after{
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    border: 1px solid $theme-color-1;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}  
}
























// dasfsa
.map-hero{
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }   
    .main_img{
        width: 400px;
        height: 400px;
        object-fit: cover;
        display: none;
    }

    svg{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        height: 100%;
        .location_btn{
            cursor: pointer;

            &:hover{
                fill: red;
            }
        }

        
    }

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $universal-color-1;
        opacity: .5;
    }

   
}

.our_services{
    padding-bottom: $section-space-md;
    .col-inner{
        border: 1px solid $border-color;
        border-radius: 25px;
        padding: 2rem 1rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 2rem;
        transition: all ease-in-out .5s;
        .card_body{
            display: flex; 
            flex-direction: column; 
            align-items: center; 
            gap: 2rem;
        }
        figure{
            img{
            transition: all ease-in-out .5s;
            object-fit: cover;
            }
        }
        h4{
            text-transform: capitalize;
        }
        p{
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient:vertical;
            overflow: hidden;
            text-transform: ellipsis;

        }
        a{
            background-color: transparent;
            color: $universal-color-1!important;
            border: 1px solid $theme-color-1;
        }
        &:hover{
            border: 1px solid $universal-color-2;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            figure{
                img{
                    transform: rotateY(360deg);
                }
            }
              a{
                padding: 1rem 4rem;
                background-color: $theme-color-1;
                color: $universal-color-2!important;
        }
        }
    }
}




@import './partials/mediaqueries';