@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?e6h58u');
  src:  url('fonts/icomoon.eot?e6h58u#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?e6h58u') format('truetype'),
    url('fonts/icomoon.woff?e6h58u') format('woff'),
    url('fonts/icomoon.svg?e6h58u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back_to_top:before {
  content: "\e900";
}
.icon-bath:before {
  content: "\e901";
}
.icon-bed:before {
  content: "\e902";
}
.icon-call_icon:before {
  content: "\e903";
}
.icon-close_icon:before {
  content: "\e904";
}
.icon-customized-solutions:before {
  content: "\e905";
}
.icon-email:before {
  content: "\e906";
}
.icon-facebook_icon:before {
  content: "\e907";
}
.icon-ham_btn:before {
  content: "\e908";
}
.icon-instagram:before {
  content: "\e909";
}
.icon-instagram_2:before {
  content: "\e90a";
}
.icon-link:before {
  content: "\e90b";
}
.icon-linkedin:before {
  content: "\e90c";
}
.icon-linkedin_icon:before {
  content: "\e90d";
}
.icon-location:before {
  content: "\e90e";
}
.icon-login:before {
  content: "\e90f";
}
.icon-pinterest:before {
  content: "\e910";
}
.icon-proven-expertise:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e912";
}
.icon-search_location:before {
  content: "\e913";
}
.icon-send_message:before {
  content: "\e914";
}
.icon-sqft:before {
  content: "\e915";
}
.icon-submit_property:before {
  content: "\e916";
}
.icon-transparent-partnerships:before {
  content: "\e917";
}
.icon-twitter-x:before {
  content: "\e918";
}
.icon-youtube:before {
  content: "\e919";
}
