@media (max-width:1200px) {
    .nav-collapse {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100vh;
        background-color: $universal-color-2;
        transition: all ease-in-out .5s;
        transform: translateX(-100%);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        padding: 2rem;
        overflow-y: auto;
        z-index: 100;

        ul {
            flex-direction: column;

            .nav_links {
                padding-bottom: 2rem !important;

                &::after {
                    content: none !important;
                }
            }

        }
    }

    .dropdown {

        &:hover {
            .dropdown-menu {
                background-color: $theme-color-2;
                position: static;
                height: auto;
                overflow-y: auto;
                width: 100% !important;
                box-shadow: none !important;


            }
        }
    }

    .element-show {
        display: block !important;
    }

}


@media(max-width:991px) {
    .partial-container-right {
        max-width: 100%;
        padding: 0;
    }

    .tab-content_inner {
        flex-direction: column;
        border-radius: 20px;

        .main_hero_form_width {
            width: 100%;

        }

        li {
            &:not(:last-child) {
                margin-bottom: 2rem;

                &::after {
                    content: none !important;
                }
            }
        }

        .form-element {
            border: 1px solid $border-color;
            border-radius: 30px;
            padding: .5rem 1rem;
        }
    }

    .our_services {
        .col-inner {
            .service_card {
                margin-bottom: 2rem;
            }
        }
    }

    .benefits {
        display: flex;
        gap: 1rem;
        padding: 1rem;
    }

    .our_benefit_inner {
        figure {
            border-radius: 25px 25px 0 0;
        }

        .our_benefit_content {
            padding: 5rem 1rem !important;
        }
    }
    .footer-wrapper{
        .col-inner{
            padding: .5rem 0;
        }
    }
    .col-links{
        justify-content: flex-start;
    }
    .footer-bottom-inner{
        flex-direction: column;
        gap: 1rem;
    }


}

@media (max-width:767px) {
    .md-hide {
        display: none;
    }

    .right-links-lg {
        display: block !important;

        li {
            margin: 2rem 0;
        }
    }
}


@media (max-width:575px) {
    .footer-bottom-inner{
        ul{
            flex-direction: column;
            li{
                &:not(:last-child){
                    margin-bottom: 1rem;
                }
            }
        }
    }
}